<!DOCTYPE html>




<html>
  <head>
    <title>SApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
       <header>
         <div class="header-logo">
           <%= link_to("picts", "/") %>
         </div>
         <ul class="header-menus">
           <li>
             <%= link_to("pictsとは", "/about") %>
           </li>
           <li>
             <%= link_to("ユーザー一覧", "/users/index") %>
           </li>

           <li>
   <%= link_to("ログイン", "/login") %>
 </li>
         </ul>
       </header>


    <%= yield %>
  </body>
</html>
